<footer class="text-muted">
  <div class="container">
    <p>
      Created by Lora Paine & Will Adams-2020
      <br />
      <a href="https://github.com/wadams458">Visit Wills GitHub</a>
      <br />
      <a href="https://en.wikipedia.org/wiki/The_Wiggles">Visit Loras GitHub</a>
    </p>
    <p>
      ~PartyWave~
      <br />
      Find your Waves
    </p>
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
  </div>
</footer>
