<footer class="text-muted" style="max-height: 300px;">
  <div class="footerContainer">
    <p><a class="footerLinks" href="/about">Lora Paine & Will Adams || General Assembly, Software Engineering Bootcamp || Project One</a></p>
    <a class="footerLinks" href="#">Back to top</a>
  </div>
</footer>
