<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Party Wave</title>
</head>
<body>
    <header>
        <nav>
          <a href="/">Home</a>
          <a href="/beaches">All Beaches</a>
          <a href="/beaches/new">Add New Beach</a>
        </nav>
      </header>

    <h1>Add A Comment About A Beach</h1>
    <form action='/comments/new' method='POST'>
      <!-- comment.beach === beach.name -->
      User: <input type='text' name='user' /> <br/><br/>
      Date: <input type='text' name='date' /> <br/><br/>
      Comment: <input type='text' name='body' /> <br/><br/>  
      <button type="submit">Submit</button>
    </form>

</body>
</html>