<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/nav.ejs') %>
    <h3 class="pagetitles">Two Jerrys that Created PartyWave</h3>
    <div class="author-sections">
      <!-- About Us Cards -->
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../images/surfBoard.png" class="card-img" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Will Adams</h5>
              <p class="card-text">
                <small class="text-muted">Crushing It</small>
              </p>
              <p class="card-text">
                Somethings about will. This man has never surfed! Do we tell
                them? I'm not sure. We should def mention something about being
                outdoors and working in clean energy and making a site about the
                ocean, in all its pollution purifying, sewuesting glory, just
                made sense to us.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../images/surfBoard.png" class="card-img" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Lora Paine</h5>
              <p class="card-text">
                <small class="text-muted">I Try Things</small>
              </p>
              <p class="card-text">
                Somethings about me and this is an about section so we do that.
                Write about the sting ray incendent and the day I got my board
                and how I wished there were better ways to get unbiased
                informationa about beach spots
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('partials/bs.ejs') %>
  </body>
</html>
