<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/nav.ejs') %>
    <h3 class="pagetitles">Two Jerrys that Tried to Ride A PartyWave</h3>
    <div class="transparent-background">
      <div class="author-sections">
        <!-- About Lora Card -->
        <div class="card mb-3" style="max-width: 1000px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="../images/surfBoard.png" class="card-img" alt="..." />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Lora Paine</h5>
                <p class="card-text">
                  <small class="text-muted">I Try Things</small>
                </p>
                <p class="card-text">
                  Somethings about me and this is an about section so we do
                  that. Write about the sting ray incendent and the day I got my
                  board and how I wished there were better ways to get unbiased
                  informationa about beach spots... We should def mention
                  something about being outdoors and working in clean energy and
                  making a site about the ocean, in all its pollution purifying,
                  sewuesting glory, just made sense to us.
                </p>
                <a href="https://github.com/desertlp">Visit Lora's GitHub</a>
              </div>
            </div>
          </div>
        </div>
        <!-- About Will Card -->
        <div class="card mb-3" style="max-width: 1000px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="../images/will2-pic.png" class="img-circle" alt="..." />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Will Adams</h5>
                <p class="card-text">
                  <small class="text-muted">Crushing It</small>
                </p>
                <p class="card-text">
                  After an 80 day sailing expedition throughout Baja California,
                  I became obsessed with finding the beauty in nature. This
                  inspired me to help accelerate the world to sustainable
                  energy, by working for Tesla; selling solar panels and
                  electric cars, minimizng carbon-footprints one customer at a
                  time. Lets keep the beaches and oceans clean so we all can
                  find the beauty in nature together :)
                  <br />
                  <br />
                  <a href="https://github.com/wadams458">Visit Will's GitHub</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./partials/footer.ejs') %> <%- include('partials/bs.ejs') %>
  </body>
</html>
