<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/nav.ejs') %>

  <div>
    <h3>New User</h3>
    <div>
      <form action='/user' method='POST'>
        Username: <input type='text' name='username' /> <br/><br/>
        Password: <input type='text' name='password' /> <br/><br/>
        First Name: <input type='text' name='firstName' /> <br/><br/> 
        Last Name: <input type='text' name='lastName' /> <br/><br/> 
        email: <input type='text' name='email' /> <br/><br/> 
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>

  <%- include('../partials/bs.ejs') %>
</body>
</html>