<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <!-------Nav Bar---------->
    <%- include('../partials/nav.ejs') %>

    <!-- Landing message -->

    <div class="landing">
      <h2>PartyWave</h2>
      <p>Find your waves</p>
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="sign-in">
            <form
              method="POST"
              action="/api/login"
              class="form-inline"
              id="log-in"
              novalidate="novalidate"
            >
              <div class="form-group">
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  id="email"
                  placeholder="Email"
                  required=""
                  autofocus=""
                  aria-required="true"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  name="password"
                  class="form-control"
                  placeholder="Password"
                  required=""
                  aria-required="true"
                />
              </div>
              <div class="form-group">
                <input type="submit" value="Log In" class="btn btn-dark" />
              </div>
            </form>
          </div>
        </div>

        <p id="sign-in-link">New user?<a href="/user/new">Sign up here</a></p>
      </div>
    </div>

    <!---LA County -->
    <img
      class="card-img-top"
      src="https://images.unsplash.com/photo-1526810209977-4708ffb9c873?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80"
      alt=" Card image cap"
    />
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Los Angeles</h1>
        <p class="lead">
          Surf LA
        </p>
        <button id="LosAngeles" onclick="demo()">Find your Waves</button>
      </div>
    </div>

    <!-- Orange County -->
    <img
      class="card-img-top"
      src="https://images.unsplash.com/photo-1537172414600-7aa232780868?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"
      alt=" Card image cap"
    />
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Orange County</h1>
        <p class="lead">
          Surf OC
        </p>
        <button id="LosAngeles" onclick="demo()">Find your Waves</button>
      </div>
    </div>

    <!-- SD County -->
    <img
      class="card-img-top"
      src="https://images.unsplash.com/photo-1517699418036-fb5d179fef0c?ixlib=rb-1.2.1&auto=format&fit=crop&w=2091&q=80"
      alt=" Card image cap"
    />
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">San Diego</h1>
        <p class="lead">
          Surf San Diego
        </p>
        <button id="LosAngeles" onclick="demo()">Find your Waves</button>
      </div>
    </div>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %> <%- include('../partials/bs.ejs')
    %>
  </body>
</html>
