<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<!--------- Header Section ---------->
<header>
    <%- include('../partials/nav.ejs') %>

  <!--------- Landing Section ---------->

  <div class="landing">
    <!--------- Landing Message ---------->
    <h2>PartyWave</h2>
    <p>Find your waves</p>
    <!--------- Sign In  ---------->
    <div class="container">
      <div class="row align-items-center justify-content-center">
      
        <div class="sign-in">
          <form
            method="post"
            action="/api/login"
            class="form-inline"
            id="log-in"
            novalidate="novalidate"
          >
            <div class="form-group">
              <input
                type="email"
                name="user[email]"
                class="form-control"
                id="email"
                placeholder="Email"
                required=""
                autofocus=""
                aria-required="true"
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                name="user[password]"
                class="form-control"
                placeholder="Password"
                required=""
                aria-required="true"
              />
            </div>
            <div class="form-group">
              <input type="submit" value="Log In" class="btn btn-dark" />
            </div>
            
          </form>
        </div>

      </div>
      
      <p id="sign-in-link"> New user?
        <a href="/user/new">Sign up here</a>
      </p>
    </div>
  </div>
</header>

<body>

  <!----------- Card Deck ----------->
  <div class="card-deck">

    <!----------- LA County Card ----------->
    <div class="card">
      <img class="card-img-top" 
      src="https://images.unsplash.com/photo-1478472638765-20763df09ab2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" 
      alt=" Card image cap"/>
      <div class="card-body">
        <h5 class="card-title">Los Angeles</h5>

        <p class="card-text">
          Surf from the best waves in Los Angeles.
        </p>
        <a href="/beaches/" class="btn btn-primary">Surf Los Angeles</a>
      </div>
    </div>

    <!-----------Orange County Card ----------->
    <div class="card">
      <img class="card-img-top"
      src="https://images.unsplash.com/photo-1537172414600-7aa232780868?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"
      alt=" Card image cap" />
      <div class="card-body">
        <h5 class="card-title">Orange County</h5>
        <p class="card-text">
          Surf from the best waves in Orange County.
        </p>
        <a href="/beaches/" class="btn btn-primary">Surf Orange County</a>
      </div>
    </div>

    <!----------- SD County Card ----------->
    <div class="card">
      <img class="card-img-top"
      src="https://images.unsplash.com/photo-1517699418036-fb5d179fef0c?ixlib=rb-1.2.1&auto=format&fit=crop&w=2091&q=80/"
      alt=" Card image cap" />
      <div class="card-body">
        <h5 class="card-title">San Diego</h5>
        <p class="card-text">
          Surf from the best waves in San Diego County
        </p>
        <a href="/beaches/" class="btn btn-primary">Surf San Diego</a>
      </div>
    </div>

  </div>

  <!----------- Footer ----------->
  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
    </div>
  </footer>

  <%- include('../partials/bs.ejs') %>
</body>
</html>
