body {
  /* background-image: url(https://images.unsplash.com/photo-1507991854441-0529e7aaebb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80); */
  background-color: floralwhite;
  width: 100%;
  height: 100%;
}

h1 {
  color: red;
}

h2 {
  font-family: "Do Hyeon", sans-serif;
  font-size: 100px;
}

/* .jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) { */
/* .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
} */

/* .jumbotron h1 {
  font-weight: 300;
} */

/* .jumbotron .container {
  max-width: 40rem;
} */

.landing-message {
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: bisque;
  margin-top: 100px;
  box-shadow: 1px 0px 18px #ffffff;
}

.landing-message p {
  font-size: 1.4em;
}
.sign-in {
  float: none;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}
.landing {
  text-align: center;
}

.surficon {
  width: 20%;
  height: 20%;
}
img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.likedBeachCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}


.beachcards-beachindexpage {
  display: flex;
  flex-wrap: wrap;
}

.beachindexpagebeachbuttons {
  color: floralwhite;
}

.pagetitles {
  padding: 40px;
  background-color: forestgreen;
  background-image: url('/images/palm.jpg');
  object-fit: cover;
 
}